
@{
    ViewBag.Title = "Home";
}

@Html.Partial("_Nav")
@Html.ValidationSummary(true, "The following errors were found:", new { @class = "alert alert-danger" })
<div id="MainContent_pMain">

    <h2>
        CBA Testing Lab Information
    </h2>
    <br />
    <h3>
        Operating Hours
    </h3>
    <ul>
        <li>
            <p>
                Monday-Thursday: 7:00 AM - Midnight
            </p>
        </li>
        <li>
            <p>
                Friday: 7:00AM - 9:30PM
            </p>
        </li>
        <li>
            <p>
                Saturday: 9:30AM - 8:30PM
            </p>
        </li>
        <li>
            <p>
                Sunday: Closed
            </p>
        </li>
    </ul>
    <br />
    <h3>
        Contact Information
    </h3>
    <ul>
        <li>
            <p>
                Phone: (407) 823-0419
            </p>
        </li>
        <li>
            <p>
                Email: <a href="mailto:testinglab@bus.ucf.edu">testinglab@ucf.edu</a>
            </p>
        </li>
        <li>
            <p>
                <a class="info" href="http://business.ucf.edu/centers-institutes/keon-testing-center/ ">
                    Testing Lab Site<span>
                        To visit
                        the CBA Testing Lab's site click here
                    </span>
                </a>
            </p>
        </li>
    </ul>

</div>
